# Ignore all files by default, but scan all directories
*
!*/

# C/C++ source files
!*.c
!*.cpp
!*.h
!*.hpp
!*.inl

# Other files
!*.lua
!*.py
!*.md
!*.txt
!*.htm
!*.html
!*.css
!.git*

# Special files
!premake5.exe

# Third party binaries
!ThirdParty/SDL/Lib/Win32/*
!ThirdParty/SDL/Lib/Win64/*
